# .env.example

# Chaves públicas do Firebase (não são confidenciais no cliente, mas podem ser mascaradas)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_DATABASE_URL=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=

# Chave pública do ReCAPTCHA Enterprise para ativação do Firebase App Check (Shield anti-abuso)
VITE_RECAPTCHA_ENTERPRISE_KEY=

# Chave pública do ReCAPTCHA v3 para ativação do Firebase App Check (Shield anti-abuso)
VITE_RECAPTCHA_V3_KEY=

# Token de Depuração persistente do Firebase App Check (opcional para testes locais em modo de imposição)
VITE_FIREBASE_APPCHECK_DEBUG_TOKEN=

